@mixin breakpoint($device) {
  @if $device == mobile {
    @media (max-width: 767px) { @content; }
  }

  @else if $device == tablet {
    @media (min-width: 768px) { @content; }
  }

  @else if $device == desktop {
    @media (min-width: 992px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: mobile, tablet, phone";
  }
}
