$default-spacing: 12px;
$default-border: 1px rgb(230, 230, 230) solid;
$default-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// Shadows
$shadow-level-2: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

// Colors
$secondary-color: rgb(169, 222, 222);
$secondary-text-color: rgb(115, 115, 115);
