@import './_mixins';
@import './_variables';

.page {
  max-width: 1400px;
  margin: 24px auto;

  @include breakpoint(tablet) {
    padding: 0 $default-spacing;
  }

  @include breakpoint(mobile) {
    padding: 0 $default-spacing;
  }
}
