@import 'styles/_variables';

.episode-card {
  width: 250px;
  height: 250px;
  margin: $default-spacing;
  box-shadow: $default-shadow;
  transition: box-shadow ease-in-out .2s, transform ease-in-out .2s;
  cursor: pointer;

  &:hover {
    box-shadow: $shadow-level-2;
    transform: scale(1.02);
  }
}

.content {
  padding: 12px;
}

.placeholder {
  width: 250px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
}

.title h3 {
  padding-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
