@import 'styles/_mixins';

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include breakpoint(mobile) {
    flex-direction: column;
  }
}

.flex-container-space-around {
  justify-content: space-around;
}
